
---
import { projects } from '../data/projects.js';
import ProjectItem from '../components/ProjectItem.astro';
---


<div class="w-full h-full bg-secondary rounded-xl overflow-y-auto">

    <h2 class="text-2xl font-bold my-2 text-center">Proyectos</h2>
    <div class=" w-auto h-auto space-x-18 flex flex-row flex-wrap align-center justify-center">      
      {projects.map(project => (
        <ProjectItem 
          nameProject={project.nameProject}
          imageDemo={project.imageDemo}
          urlDemo={project.urlDemo}
          urlRepo={project.urlRepo}
          description={project.description}
          languages={project.languages}
        />
      ))}
   </div>

</div>
